<div class=" d-flex ">
  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos ">
      <div>
        <h2><%= @restaurant.name %></h2>
        <p>- <%= @restaurant.address %></p>
        <p>- <%= @restaurant.category %></p>
      </div>
      <h4 class="card-trip-pricing">
        <p>- <%= @restaurant.phone_number %></p>
      </h4>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
</div>
<%= link_to "Go back....<-------", restaurants_path, class: 'text-light text-decoration-none btn btn-success mt-4'%>
<%= link_to "Give a rating", new_restaurant_review_path(@restaurant), class: 'text-light text-decoration-none btn btn-success'%>
<h2>All Ratings</h2>
<% @restaurant.reviews.each do |review|  %>
  <div class="card-product-infos mt-2 text-light bg-dark">
    <%= review.content %>
    <p>Ratings = <strong><%= '⭐️' * review.rating %></strong></p>
  <% end %>
</div>
